body {font-family: "Lato", sans-serif;}

.device {
  margin:auto; 
  width: 640px;
  height: 960px;
  overflow: hidden;
  background-color: rgb(208, 208, 208);
  border: 5px solid black;
  position: relative;
}
        
h1 {
  font-size: 28pt;
}

.buttoncontainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.667%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
  height: 100%;
}

iframe {
  overflow: scroll;
  width: 90%;
  height: 100%;
  border: 1px solid black;
}

.iframecontent {
  color: white;
  padding-right: 40px;
  text-align: center;
  height: 100%;
}

.lowerright {
  position:absolute;
  bottom:15%;
  right:5%;
}

#Text {background-color:red;}
#LR {background-color:green;}
#Tokyo {background-color:pink;}
#Oslo {background-color:orange;}
#Madrid {background-color:pink;}
#DC {background-color:black;}